# **Tutorial: Data Analysis using Python Pandas**

In this tutorial, we will explore the usage of Python libraries such as Pandas, NumPy,and Matplotlib to analyze the "LEGO Sets and Themes" dataset to provide insights into the world of LEGO.

### **About the Dataset**

The dataset is obtained from Kaggle (https://www.kaggle.com/datasets/jkraak/lego-sets-and-themes-database).

This dataset is a comprehensive dataset containing attributes such as set number, set name, theme category, the count of pieces included, release year, and a visual representation of each set from 1949 to 2023.

In this tutorial, we are going to **analyze the LEGO Sets and Themes Database**, in order to obtains answers for the following questions:
1. On average, how many LEGO sets are released every year?
2. Which LEGO themes has the highest number of sets?
3. What are the top 10 LEGO sets with the highest number of parts?
4. What are the top 10 LEGO sets with the lowest number of parts?


#### By the end of this tutorial, you should be able to:
- Understand how to solve real-time data analysis problems
- Read and analyze data from an external file (.csv)
- Derive solutions through data visualization

## Steps To Perform Data Analysis

### Step 1: Importing Data and Libraries
- This is the most crucial step as you have to import external data that you will analyze, as well as any Python libraries, if needed.

Import the required libraries that you will be using. In this tutorial, we are using Pandas, NumPy and Matplotlib.

In [33]:
import pandas as pd
import numpy as np 
import matplotlib as plt

Then, import your dataset that is in .csv format into the Pandas DataFrame

In [34]:
data = pd.read_csv('/workspaces/Project2/data/lego_sets_and_themes.csv')

### Step 2: Reading data
- It is important that we read and explore the data before performing any cleaning and analyzation.
- It helps you to understand the structure of the data, including its variables, formats, and any missing values.

**data.columns** - Retrieve the column names of the dataframe

In [35]:
data.columns

Index(['set_number', 'set_name', 'year_released', 'number_of_parts',
       'image_url', 'theme_name'],
      dtype='object')

**data.head()** - Display the first 5 rows of the dataframe

In [36]:
data.head()

,set_number,set_name,year_released,number_of_parts,image_url,theme_name
0,001-1,Gears,1965.0,43.0,https://cdn.rebrickable.com/media/sets/001-1.jpg,Technic
1,002-1,4.5V Samsonite Gears Motor Set,1965.0,3.0,https://cdn.rebrickable.com/media/sets/002-1.jpg,Technic
2,1030-1,TECHNIC I: Simple Machines Set,1985.0,210.0,https://cdn.rebrickable.com/media/sets/1030-1.jpg,Technic
3,1038-1,ERBIE the Robo-Car,1985.0,120.0,https://cdn.rebrickable.com/media/sets/1038-1.jpg,Technic
4,1039-1,Manual Control Set 1,1986.0,39.0,https://cdn.rebrickable.com/media/sets/1039-1.jpg,Technic

**data.tail()** - Display the last 5 rows of the dataframe

In [37]:
data.tail()

,set_number,set_name,year_released,number_of_parts,image_url,theme_name
21498,71039-4,The Werewolf,2023.0,0.0,https://cdn.rebrickable.com/media/sets/71039-4...,Marvel Series 2
21499,71039-5,She-Hulk,2023.0,0.0,https://cdn.rebrickable.com/media/sets/71039-5...,Marvel Series 2
21500,71039-6,Hawkeye,2023.0,0.0,https://cdn.rebrickable.com/media/sets/71039-6...,Marvel Series 2
21501,71039-7,Kate Bishop,2023.0,0.0,https://cdn.rebrickable.com/media/sets/71039-7...,Marvel Series 2
21502,71039-8,Goliath,2023.0,0.0,https://cdn.rebrickable.com/media/sets/71039-8...,Marvel Series 2

**data.shape** - Retrieve the dimensions of a dataframe. In other words, it will tell you the number of rows and columns of the dataframe

In [38]:
data.shape

(21503, 6)

**data.describe()** - Generate descriptive statistics of a dataframe. It will return statistics such as count, mean, standard deviation, minimum, 1st quartile, median, 3rd quartile and maximum.

In [39]:
data.describe()

       year_released  number_of_parts
count   21496.000000     21496.000000
mean     2007.579782       162.461760
std        13.980685       417.187521
min      1949.000000         0.000000
25%      2001.000000         4.000000
50%      2012.000000        32.000000
75%      2018.000000       142.000000
max      2023.000000     11695.000000

**data.dtypes** - Display the datatypes of each column in the dataframe

In [45]:
data.dtypes

set_number          object
set_name            object
year_released      float64
number_of_parts    float64
image_url           object
theme_name          object
dtype: object

### Step 3: Cleaning and Preparing Data
- Data cleaning is also important to perform before you start analyzing your data as it involves identifying and correcting errors or inconsistencies in datasets to improve their quality and reliability. 
- Data preparation will shape the data in a way that is conducive to the specific analysis or modeling task. This may involve creating new features, aggregating data, or reformatting variables to better suit the requirements of the analysis or modeling technique.

**data.isnull().sum()** - Check for missing values in a dataframe

- isnull() is used to identify missing or NA values in the DataFrame. It will return True for each corresponding element that is missing.

- sum() is used to sum the True values along each column. Since True is interpreted as 1 and False as 0 when summing, the result is a Series containing the total number of missing values for each column.

In [40]:
data.isnull().sum()

set_number         7
set_name           7
year_released      7
number_of_parts    7
image_url          7
theme_name         0
dtype: int64

>> We can see from the given output that the above columns have null values.

**data.dropna()** - Remove rows containing missing values (NaN) from a DataFrame. It is important that we eliminate rows that contains incomplete information so our analysis stays accurate. 

- We set the parameter condition to how = "all" because this parameter specifies that a row will be dropped only if all the specified columns have missing values. If any of the specified columns has a non-missing value, the row will be retained.

- We also set the parameter condition to subset = [columns names with null values] so that only the specified columns will be examined for missing values.

- The parameter condition inplace = True is used to modify the DataFrame in place, meaning that the changes will be applied to the existing DataFrame data, and it won't return a new DataFrame.

In [42]:
data.dropna(how="all", subset = ['set_number','set_name','year_released','number_of_parts','image_url'],inplace=True)
data.isnull().sum()

set_number         0
set_name           0
year_released      0
number_of_parts    0
image_url          0
theme_name         0
dtype: int64

**data.duplicated().sum()** - Count the number of duplicated rows in the dataframe

In [43]:
data.duplicated().sum()

0

 **data.sort_values()** - Sort a dataframe by specified columns

In [48]:
data.sort_values('theme_name')